<a href="https://colab.research.google.com/github/raquel-maia/python-dados/blob/main/Desafio_FORBES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Definição do problema: Você está trabalhando em um jornal e o
editor quer que você responda as seguintes questões:

1. Qual a empresa mais valiosa da lista da Forbes 2000?

2. Construa uma tabela com as TOP 10 empresas mais lucrativas da
lista.

3. Qual a média de valores de empresa das cinco categorias mais
valiosas?


Código do dataset: Forbes2000

Dicas:
* Método .max()
* Método nlargest()
* Método .groupby()

In [ ]:
import pandas as pd

In [ ]:
!pip install pydataset

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 33.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pydataset) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939416 sha256=6fc36acabdb27ffa4f396bc625ac7e52f63b465299df2c0a6e4fd4d7c5b50d55
  Stored in directory: /root/.cache/pip/wheels/2b/83/5c/073c3755e8b7704e4677557b2055e61026c1a2342149214c13
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [ ]:
from pydataset import data

initiated datasets repo at: /root/.pydataset/

In [ ]:
df_forbes = data('Forbes2000')
df_forbes

,rank,name,country,category,sales,profits,assets,marketvalue
1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
3,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
4,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
5,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54
...,...,...,...,...,...,...,...,...
1996,1996,Siam City Bank,Thailand,Banking,0.48,0.02,11.27,1.47
1997,1997,Yokogawa Electric,Japan,Business services & supplies,2.78,-0.22,2.96,3.29
1998,1998,Hindalco Industries,India,Materials,1.35,0.14,2.47,2.76
1999,1999,Nexans,France,Capital goods,5.09,0.00,2.71,0.88
2000,2000,Oriental Bank of Commerce,India,Banking,0.81,0.10,7.16,1.17

In [ ]:
#Qual a empresa mais valiosa da lista da Forbes 2000?

In [ ]:
valor_maximo = df_forbes['marketvalue'].max()
valor_maximo

328.54

In [ ]:
indi_max = df_forbes[df_forbes['marketvalue'] == valor_maximo].index[0]
indi_max

2

In [ ]:
empresa_valiosa = df_forbes.loc[indi_max]['name']
empresa_valiosa

'General Electric'

Forma mais direta que resolver a questão.
O df_forbes.loc é é usado para localizar a linha correspondente a esse índice.

> df_forbes['marketvalue'].idxmax() retorna o índice do valor máximo na coluna "marketvalue".

In [ ]:
empresa_vali = df_forbes.loc[df_forbes['marketvalue'].idxmax()]['name']
print('A empresa mais valiosa é:', empresa_vali)

A empresa mais valiosa é: General Electric

In [ ]:
#atividade 2 Construa uma tabela com as TOP 10 empresas mais lucrativas da lista.

In [ ]:
top_10_empresas_lucrativas = df_forbes.nlargest(10, 'profits')
#print(tabela_nome_lucro)

In [ ]:
print(top_10_empresas_lucrativas)

    rank              name         country                category   sales  profits   assets  \
4      4        ExxonMobil   United States    Oil & gas operations  222.88    20.96   166.99
1      1         Citigroup   United States                 Banking   94.71    17.85  1264.03
2      2  General Electric   United States           Conglomerates  134.19    15.59   626.93
6      6   Bank of America   United States                 Banking   49.01    10.81   736.45
5      5                BP  United Kingdom    Oil & gas operations  232.57    10.27   177.57
20    20       Freddie Mac   United States  Diversified financials   46.26    10.09   752.25
22    22      Altria Group   United States    Food drink & tobacco   60.70     9.20    96.18
10    10   Wal-Mart Stores   United States               Retailing  256.33     9.05   104.91
31    31         Microsoft   United States     Software & services   34.27     8.88    85.94
17    17             Total          France    Oil & gas operations  131.64     8.84    87.84

    marketvalue
4        277.02
1        255.30
2        328.54
6        117.55
5        173.54
20        44.25
22       111.02
10       243.74
31       287.02
17       116.64

In [ ]:
tabela_nome_lucro = top_10_empresas_lucrativas[['name', 'profits']]

In [ ]:
print(tabela_nome_lucro)

                name  profits
4         ExxonMobil    20.96
1          Citigroup    17.85
2   General Electric    15.59
6    Bank of America    10.81
5                 BP    10.27
20       Freddie Mac    10.09
22      Altria Group     9.20
10   Wal-Mart Stores     9.05
31         Microsoft     8.88
17             Total     8.84